:root {
  --cl-primary: #f37021;
  --cl-text: #1e1e1e;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--cl-text);
  background-color: #fff;
}
.container {
  max-width: 1252px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.md {
  display: block !important;
}
.sm {
  display: none !important;
}

img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
section:not(.hero) {
  padding: 80px 0px;
}
/* Hero Section */
.hero img {
  width: 100%;
}

/* Main Info Section */
.main-info {
  display: flex;
  position: relative;
}
.main-info .container {
  display: flex;
}
.main-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/main-info-decor.png") no-repeat;
  background-size: contain;
  background-position: top left;
  z-index: -1;
}

.info-left {
  max-width: 620px;
  width: 100%;
}
.info-left img {
  width: 100%;
  object-fit: contain;
  object-position: top;
}
.info-content {
  flex: 1;
  margin-left: -200px;
  padding: 230px 0px 0px 30px;
  position: relative;
}
.info-decor {
  position: absolute;
  top: 240px;
  left: 0;
  z-index: -1;
}
.info-content-inner {
  padding-top: 40px;
  font-size: 18px;
  margin-bottom: 36px;
}
.cta-button {
  background: #f37021;
  color: white;
  padding: 10px 24px;
  max-height: 64px;
  border: none;
  border-radius: 12px;
  font-family: inherit;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  line-height: 1;
  transition: all 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.cta-button:hover {
  background: #e55a2b;
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(255, 107, 53, 0.4);
}

/* Activities Section */
.activities-container {
  max-width: 1200px;
  margin: 0 auto;
}

.activities h2 {
  font-size: 64px;
  margin-bottom: 12px;
  color: var(--cl-text);
  font-weight: 500;
}

.section-subtitle {
  color: var(--cl-primary);
  font-size: 27px;
  font-weight: 500;
}

.activities .activity-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  margin-top: 48px;
}

.activity-swiper,
.campus-swiper {
  position: relative;
  overflow: visible !important;
}

.activity-swiper .swiper-button-next,
.activity-swiper .swiper-button-prev,
.activity-swiper .swiper-pagination,
.campus-swiper .swiper-button-next,
.campus-swiper .swiper-button-prev,
.campus-swiper .swiper-pagination {
  display: none;
}

.activity-card {
  background: white;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 4px 20px 0px #0000000f;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.activity-card:hover {
  transform: translateY(-10px);
}

.activity-image {
  width: 100%;
  max-height: 235px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activity-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activity-content {
  padding: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.activity-content-inner {
  flex: 1;
}
.activity-content h3 {
  font-size: 27px;
  margin-bottom: 8px;
  font-weight: 500;
}

.activity-content p {
  margin-bottom: 16px;
  line-height: 1.2;
  color: #757575;
}

.activity-button {
  padding: 16px 24px;
  border-radius: 8px;
  font-size: 18px;
  height: fit-content;
}

.activity-button:hover {
  background: #e55a2b;
}

/* Big Open Day Section */
.big-content {
  position: relative;
  max-width: 760px;
  width: 100%;
}
.big-content .big-decor {
  position: absolute;
  top: -34px;
  left: -34px;
  z-index: -1;
  max-width: 315px;
  width: 100%;
}
.big-content .big-decor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.big-content h2 {
  font-size: 64px;
  font-weight: 700;
}
.big-content h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}
.big-content > p {
  font-size: 18px;
  margin-bottom: 8px;
}
.big-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}
.big-bottom-left img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}
.big-info {
  position: relative;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.big-info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 315px;
  height: 10px;
  background: url("./images/big-decor-line.png") no-repeat;
  background-size: contain;
  z-index: -1;
}
.big-info > div {
  display: flex;
  gap: 8px;
  align-items: center;
}
.big-info > div span {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}
.big-info > div p {
  font-weight: 500;
}
.big-bottom-left .cta-button {
  line-height: 64px;
}
.big-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  gap: 24px;
}
.big-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.big-bottom-right > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
}
.big-bottom-right > div img {
  border-radius: 12px;
  width: 100%;
}
.big-bottom-right > div:first-child img {
  max-height: 200px;
}
/* Campus Section */

.campus-top {
  max-width: 760px;
}

/* Schedule Section */
section.schedule {
  padding-top: 0px;
}

.schedule h2 {
  font-size: 64px;
  margin-bottom: 24px;
  font-weight: 500;
}

.schedule-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}
.schedule-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.schedule-item > div {
  flex: 1;
}
.schedule-date {
  color: var(--cl-primary);
  min-height: 32px;
  border-radius: 8px;
  border: 1px solid var(--cl-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 20px;
}
.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.schedule-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid#EAEAEA;
}
.schedule-list li:last-child {
  border-bottom: none;
}
.schedule-list li p {
  font-size: 12px;
  font-weight: 500;
  color: black;
}
.schedule-list li p:last-child {
  font-weight: 400;
  color: #757575;
}
.schedule-line {
  width: 100%;
  height: 100%;
  max-height: 20px;
}
.schedule-line img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.schedule-empty {
  min-height: 236px;
}
.schedule-item:nth-child(2n) .schedule-item-content {
  order: 2;
}
.schedule-item:nth-child(2n) .schedule-line {
  order: 1;
}

/* Gift Section */

.gift-container {
  background: linear-gradient(90deg, #ff8a44 0%, #ff6000 100%);
  padding: 40px 80px;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 60px;
}

.gift-image {
  position: relative;
  max-width: 410px;
  aspect-ratio: 2/1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.gift-image img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.5) translateY(-30px);
}
.gift-content {
  flex: 1;
  color: white;
}

.gift-content h2 {
  font-size: 48px;
  margin-bottom: 8px;
  font-weight: 500;
}

.gift-content h3 {
  font-size: 23px;
  margin-bottom: 8px;
  font-weight: 600;
}

.gift-content p {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.6;
  font-weight: 400;
}

.gift-button {
  background: white;
  padding: 4px 4px 4px 24px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  min-height: 48px;
  text-decoration: none;
  color: var(--cl-text);
  width: fit-content;
}
.gift-button span:first-child {
  font-weight: 700;
  flex: 1;
  text-align: center;
}
.gift-button span:last-child {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cl-primary);
  padding: 14px;
}

.gift-button:hover {
  transform: translateY(-2px);
}

/* Discover Section */
section.discover {
  padding-top: 40px;
}

.discover-content h2 {
  font-size: 48px;
  margin-bottom: 3px;
}

.discover-content > p {
  margin-bottom: 40px;
  font-size: 18px;
}
.discover-bottom {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 24px;
  padding: 90px;
}
.discover-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/discover-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.discover-left {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 575px;
  justify-content: center;
  position: relative;
}
.discover-item {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(255, 255, 255, 0.76) 100%
  );
  border: 2px solid;
  border-image-source: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  padding: 12px 24px;
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 16px;
}
.discover-item > span {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.discover-item > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.discover-item > div h3 {
  font-size: 20px;
  font-weight: 500;
}
.discover-item > div p {
  color: #757575;
}
.discover-right {
  position: absolute;
  right: 50px;
  bottom: 0;
  max-width: 485px;
  width: 100%;
}
.discover-right img {
  width: 100%;
  position: relative;
  bottom: -4px;
}

/* Footer */
footer {
  background: #f2f2f2;
  padding-top: 60px;
}
footer a {
  text-decoration: none;
  color: var(--cl-text);
  transition: all 0.3s;
}
footer a:hover {
  color: var(--cl-primary);
}

.footer-container {
  max-width: 1252px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #cbcbcb;
}

.footer-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-section h3 {
  font-size: 18px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}
.footer-info-item:first-child {
  flex: 1;
}
.footer-info-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer-info-item strong {
  color: #757575;
}
.footer-info-item p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
}
.footer-bottom {
  padding: 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.copyright {
  font-size: 12px;
}
.social-links {
  display: flex !important;
  gap: 60px;
  align-items: center;
}
.social-links a {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1023px) {
  section:not(.hero) {
    padding: 40px 0px;
  }
  .info-left {
    max-width: 400px;
  }
  .info-content {
    margin-left: -100px;
    padding-top: 150px;
  }
  .info-decor {
    top: 160px;
  }
  .cta-button {
    font-size: 16px;
    max-height: 55px;
  }
  .activities h2,
  .big-content h2,
  .discover-content h2,
  .schedule h2 {
    font-size: 40px;
  }
  .big-bottom {
    grid-template-columns: 1fr;
  }
  .big-bottom-right > div,
  .big-bottom-right > div:first-child img {
    height: 100%;
    max-height: 100%;
  }
  .schedule-grid,
  .activities .activity-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .activity-content h3 {
    font-size: 22px;
  }
  .schedule-item > div:not(.schedule-item-content) {
    display: none;
  }
  .schedule-grid {
    gap: 20px;
  }
  .gift-container {
    padding: 20px;
    gap: 20px;
  }
  .gift-image img {
    transform: scale(1) translateY(0px);
  }
  .gift-image {
    max-width: 240px;
  }
  .gift-content h2 {
    font-size: 36px;
  }
  .gift-content h3 {
    font-size: 18px;
  }
  .gift-content p {
    font-size: 16px;
  }
  .discover-bottom {
    padding: 40px;
  }
  .discover-item > div h3 {
    font-size: 16px;
  }
  .discover-item {
    padding: 12px;
  }
  .discover-item > div p {
    font-size: 12px;
  }
  .discover-left {
    gap: 12px;
  }
  .discover-right {
    max-width: 300px;
  }
  .footer-grid {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .social-links {
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .md {
    display: none !important;
  }
  .sm {
    display: block !important;
  }
  section:not(.hero) {
    padding: 24px 0px;
  }
  .main-info .container {
    flex-direction: column;
  }
  .main-info::before {
    display: none;
  }
  .info-content {
    margin: 0;
    padding: 0px;
  }
  .info-decor {
    top: 20px;
    left: -10px;
    max-width: 120px;
  }
  .info-decor img {
    width: 100%;
  }
  .info-content-inner {
    font-size: 14px;
  }
  .cta-button {
    padding: 16px 20px;
    min-height: 45px;
    line-height: 1;
    height: auto;
  }
  .activities h2,
  .big-content h2,
  .discover-content h2,
  .schedule h2 {
    font-size: 24px;
    margin-bottom: 4px;
  }
  .section-subtitle {
    font-size: 14px;
  }
  .activity-swiper,
  .campus-swiper {
    padding-bottom: 40px;
  }

  .activity-swiper .activity-grid,
  .campus-swiper .activity-grid {
    display: flex !important;
    flex-wrap: nowrap;
    gap: 0;
    margin-top: 16px;
  }

  .activity-swiper .swiper-slide,
  .campus-swiper .swiper-slide {
    height: 100%;
  }

  .activity-swiper .swiper-button-next,
  .activity-swiper .swiper-button-prev,
  .campus-swiper .swiper-button-next,
  .campus-swiper .swiper-button-prev {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    color: var(--cl-text);
    box-shadow: 0px 4px 4px 0px #00000040;
    top: 30%;
  }
  .activity-swiper .swiper-button-next,
  .campus-swiper .swiper-button-next {
    right: 5px !important;
  }
  .activity-swiper .swiper-button-prev,
  .campus-swiper .swiper-button-prev {
    left: 5px !important;
  }
  .activity-swiper .swiper-button-next::after,
  .activity-swiper .swiper-button-prev::after,
  .campus-swiper .swiper-button-next::after,
  .campus-swiper .swiper-button-prev::after {
    font-size: 20px;
    font-weight: 600;
  }
  .activity-swiper .swiper-pagination,
  .campus-swiper .swiper-pagination {
    display: block;
    position: static;
    margin-top: 16px;
  }
  .activity-content {
    padding: 16px;
  }
  .activity-content h3 {
    font-size: 18px;
  }
  .activity-content p {
    font-size: 16px;
  }
  .activity-button {
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
  }
  .activity-card {
    box-shadow: 0px 4px 20px 0px #0000000f;
  }
  .swiper-pagination-bullet-active {
    background: #414141 !important;
  }
  .big-content h3 {
    font-size: 14px;
    color: var(--cl-primary);
    font-weight: 500;
    line-height: 1.4;
    padding-right: 20px;
  }
  .big-content > p {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 30px;
  }
  .big-content .big-decor {
    max-width: 120px;
    top: 85px;
    left: -10px;
  }
  .big-info > div span {
    width: 18px;
    height: 18px;
  }
  .big-info > div p {
    font-weight: 400;
    font-size: 14px;
  }
  .big-bottom-left .cta-button {
    line-height: 1;
  }
  .big-bottom-left {
    gap: 40px;
  }
  .big-bottom {
    gap: 12px;
  }
  .big-bottom-right > div,
  .big-bottom-right > div:first-child img,
  .big-bottom-right {
    gap: 12px;
  }
  .campus-top > p:last-child {
    display: none;
  }
  .activity-swiper,
  .campus-swiper {
    overflow: hidden !important;
  }
  .schedule-grid {
    margin-top: 16px;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .schedule-item {
    box-shadow: 0px 4px 20px 0px #00000014;
    border-radius: 12px;
    padding: 16px;
  }
  .schedule-date {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: var(--cl-text);
    margin: 0px;
  }
  .schedule-date span:last-child {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--cl-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    transform: rotate(180deg);
    transition: all 0.3s;
  }
  .schedule-item.active .schedule-date {
    border-bottom: 1px solid var(--cl-primary);
    padding-bottom: 16px;
    border-radius: 0px;
    margin-bottom: 16px;
  }
  .schedule-item.active .schedule-date span:last-child {
    transform: rotate(0deg);
  }
  .schedule-item .schedule-list {
    display: none;
  }
  .schedule-item.active .schedule-list {
    display: flex;
  }
  .gift-container {
    grid-template-columns: 1fr;
    margin: 0px -15px;
    border-radius: 0px;
  }
  .gift-image {
    max-width: 100%;
  }
  .gift-image img {
    transform: scale(1.5) translateY(-20px);
  }
  main {
    overflow-x: hidden;
  }
  .gift-section {
    margin-top: 40px;
  }
  .gift-content h2 {
    font-size: 32px;
  }
  .gift-content h3 {
    font-size: 16px;
  }
  .gift-content p {
    font-size: 14px;
  }
  .discover-content > p {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .discover-right {
    max-width: 100%;
    position: static;
  }
  .discover-bottom {
    grid-template-columns: 1fr;
    padding: 20px 20px 0px;
  }
  .discover-item {
    flex-direction: column;
    padding: 8px 10px;
    border: none;
    gap: 5px;
  }
  .discover-item > span {
    width: 20px;
    height: 20px;
  }
  .discover-item > div h3 {
    font-size: 14px;
  }
  .discover-item > div p {
    text-align: center;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .footer-top {
    display: flex !important;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 12px;
  }
  footer {
    padding-top: 24px;
  }
.footer-info:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px solid #CBCBCB;
  margin-bottom: 12px;
}
.footer-bottom {
  justify-content: center;
}
.footer-bottom p{
  text-align: center;
}
}
