@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/SVN-Gilroy Bold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/SVN-Gilroy Light.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/SVN-Gilroy Medium.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/SVN-Gilroy Regular.otf") format("opentype");
}
/* scholarship */
.scholarship-banner {
  background-image: url("./images/scholarship-banner-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 42px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy-Medium";
}
.scholarship-banner-sub-title {
  padding: 12px 28px;
  border-radius: 100px;
  font-size: 24px;
  font-family: "Gilroy-Bold";
  color: white;
  line-height: 1;
  position: relative;
  margin-bottom: 40px;
}
.scholarship-banner-sub-title::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 100px;
  background: linear-gradient(90deg, #ffffff 0%, #ffb56f 100%);
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.scholarship-banner h2 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
  background: linear-gradient(90deg, #ffffff 0%, #ffb56f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Gilroy-Bold";
  text-align: center;
}
.scholarship-banner h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 24px;
  color: white;
  font-family: "Gilroy-Regular";
  text-align: center;
}
.scholarship-banner-logo {
  margin-bottom: 24px;
}
.scholarship-banner-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  max-width: 1000px;
  margin-bottom: 24px;
  overflow: hidden;
}
.scholarship-banner-content > div {
  max-width: 390px;
  min-height: 215px;
  width: 100%;
  padding: 32px;
  clip-path: polygon(
    10% 0,
    100% 0,
    100% 0%,
    100% 85%,
    90% 100%,
    0% 100%,
    0 100%,
    0 15%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  color: white;
  background: linear-gradient(
    180deg,
    #e4c58a 0%,
    rgba(255, 163, 128, 0.3) 92.56%
  );
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.4);
}
.scholarship-banner-content > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(42deg) translateX(-46px);
  border: 3px solid rgba(255, 255, 255, 0.8);
}
.scholarship-banner-content > div::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  transform: rotate(42deg) translateX(46px);
  border: 3px solid rgba(255, 255, 255, 0.8);
}
.scholarship-banner-content > div > div {
  font-weight: 700;
}
.scholarship-banner-content > div > div strong {
  font-size: 76px;
  margin-right: 8px;
}
.scholarship-banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.scholarship-banner-btn a {
  color: var(--cl-primary);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  min-height: 48px;
  font-weight: 500;
}
.scholarship-banner-btn a:nth-child(1) {
  background: white;
}
.scholarship-banner-btn a:nth-child(2) {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0.14) 92.56%
  );
  color: white;
  border: 1px solid white;
}
.scholarship-intro-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.scholarship-intro-video {
  background-image: url("./images/scholarship-intro-bg-video.svg");
  background-size: 75%;
  background-position: top left;
  background-repeat: no-repeat;
  padding: 34px 20px 34px 50px;
}
.scholarship-intro-video iframe {
  aspect-ratio: 16/9;
  border-radius: 8px;
  width: 100%;
  max-height: 275px;
  object-fit: cover;
}
.scholarship-intro-content h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}
.scholarship-intro-content h2 strong {
  color: var(--cl-primary);
  font-weight: 700;
}

.scholarship-intro-content p {
  color: #3d3d3d;
  line-height: 1.4;
  margin-bottom: 24px;
}
.scholarship-intro-content-btn {
  justify-content: flex-start;
  gap: 24px;
}
.scholarship-intro-content-btn a:nth-child(1) {
  background: var(--cl-primary);
  color: white;
}
.scholarship-intro-content-btn a:nth-child(2) {
  color: var(--cl-primary);
  background: white;
  border: 1px solid var(--cl-primary);
}
.scholarship-categories {
  overflow: hidden;
}
.scholarship-categories-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.scholarship-categories-list > div {
  position: relative;
}
.scholarship-categories-list > div > div {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: white;
  width: fit-content;
  height: fit-content;
}
.scholarship-categories-list > div > div h3 {
  font-size: 24px;
}
.scholarship-categories-list > div img {
  transform: scaleX(1.1) scaleY(1.14) translateY(3px);
}
.scholarship-expert-list {
  margin-top: 40px;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 32px;
}
.scholarship-expert-item-img {
  margin-bottom: 12px;
  position: relative;
  clip-path: polygon(
    10% 0,
    100% 0,
    100% 0%,
    100% 85%,
    90% 100%,
    0% 100%,
    0 100%,
    0 15%
  );
  padding-top: 100%;
  background-color: #d9d9d9;
}
.scholarship-expert-item-img img {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scholarship-expert-item-content {
  text-align: center;
}
.scholarship-expert-item-content h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.scholarship-expert-item-content p {
  font-size: 16px;
  font-weight: 700;
  color: #707070;
}
.scholarship-benefits {
  background-image: url("./images/scholarship-benefits-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 90px 0px;
}
.scholarship-benefits h2 {
  color: white;
}
.scholarship-benefits .title-common span {
  gap: 0;
}
.scholarship-benefits .title-common span::before,
.scholarship-benefits .title-common span::after {
  background: white;
}
.scholarship-benefits-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 64px;
}
.scholarship-benefits-item {
  background: white;
  padding: 60px 32px;
  min-height: 285px;
  border: 1px solid #ccc;
}
.scholarship-benefits-item span {
  display: flex;
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
}
.scholarship-benefits-item span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.scholarship-benefits-item p {
  font-size: 18px;
  font-weight: 700;
}
.scholarship-brand-list {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.scholarship-brand-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.scholarship-brand-item h3 {
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.scholarship-brand-item h3::after {
  content: "";
  flex: 1;
  width: 100%;
  height: 1px;
  background: #ccc;
  position: relative;
  bottom: 5px;
}
.scholarship-brand-item-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 5%;
}
.scholarship-brand-item-list span {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scholarship-brand-item-list img {
  object-fit: contain;
}
.scholarship-news-swiper {
  padding-bottom: 70px !important;
}
.scholarship-faq h3 {
  font-size: 16px;
}
.recuitment-faq-item-title {
  gap: 20px;
}
.scholarship-faq {
  background-image: url("./images/scholarship-faq-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: center bottom;
}
.scholarship-detail-banner img {
  max-height: 420px;
  height: 100%;
  object-position: top center;
}
.scholarship-features-desc {
  margin-top: 12px;
  color: #3d3d3d;
}
.scholarship-features-list {
  margin-top: 60px;
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
}
.scholarship-features-item {
  display: flex !important;
  flex-direction: column;
  height: auto !important;
}
.scholarship-features-item span {
  clip-path: polygon(0% 0, 85% 0%, 100% 15%, 100% 100%, 0 100%, 0 0%);
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  display: flex;
}
.scholarship-features-item span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scholarship-features-item div {
  background-color: white;
  padding: 20px;
  font-weight: 700;
  color: #000;
  flex: 1;
  display: flex;
  align-items: center;
  line-height: 1.4;
}
.scholarship-features {
  background-color: #fafafa;
}
.scholarship-progress .exam-calendar-item h3 {
  color: black;
  font-size: 18px;
  line-height: 1.4;
}
.scholarship-progress .exam-calendar-item h3 strong {
  color: var(--cl-primary);
  font-weight: 700;
}
.scholarship-progress .exam-calendar-main {
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.scholarship-progress .exam-calendar-item {
  max-width: 100%;
}
.scholarship-progress .exam-calendar-item p {
  color: #707070;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
.scholarship-form .recruitment-form-main {
  margin-top: 0;
}
.scholarship-form-tab {
  margin-top: 28px;
  display: flex;
  z-index: 10;
  position: relative;
}
.scholarship-form-tab-item h3{
  font-size: 20px;
}
.scholarship-form-tab-item {
  clip-path: polygon(5% 0, 100% 0%, 100% 80%, 95% 100%, 0 100%, 0 20%);
  padding: 10px 32px;
  color: #707070;
  font-weight: 700;
  background: #ffffffcc;
  backdrop-filter: blur(6px);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #f2f2f2 1.09%, #ff8b2a 117.14%);
  border-image-slice: 1;
  position: relative;
  cursor: pointer;
}
.scholarship-form-tab-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-right: 1px solid var(--cl-primary);
  transform: rotate(50deg) translateX(-16px)
}
.scholarship-form-tab-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-left: 1px solid var(--cl-primary);
  transform: rotate(50deg) translateX(16px)
}
.scholarship-form-tab-item.active {
  background: var(--cl-primary);
  color: white;
  transform: scaleX(1.06) scaleY(1.16) translateX(6px) translateY(-2px);
  z-index: 10;
}
.scholarship-form-tab-item.active h3 {
  transform: scaleX(0.94) scaleY(0.84);
}
.scholarship-form-tab-item:nth-child(2).active {
  transform: scaleX(1.06) scaleY(1.16) translateX(-6px) translateY(-2px);
}
.scholarship-form .title-common-decor-left::after {
  display: none;
}
.scholarship-form .title-common-decor-left img {
  transform: rotate(0deg);
  max-width: 100%;
  width: 100%;
}
.scholarship-form .recruitment-form-main {
  display: none;
}
.scholarship-form .recruitment-form-main.active {
  display: block;
}
.scholarship-form .recruitment-form-main.active[data-form="2"] form{
  grid-template-columns: 1fr;
}
.scholarship-form .recruitment-form-main.active[data-form="2"] form .scholarship-form-item-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.scholarship-form .scholarship-form-item-title {
  display: flex;
  gap: 8px;
  flex-direction: row;
  margin-bottom: 16px;
}
.scholarship-form-item-icon  {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.scholarship-form .scholarship-form-item-title h3 {
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
}
.scholarship-form .scholarship-form-item-title h3:after {
  content: "";
  position: relative;
  width: 100%;
  flex: 1;
  height: 1px;
  background: #ccc;
  bottom: 5px;
  display: flex;
}
.scholarship-form .recruitment-form-main.active[data-form="2"] form div.recruitment-form-action {
  grid-column: span 1;
}
.scholarship-explore-list {
  grid-template-columns: repeat(3, 1fr);
}
.scholarship-explore-swiper {
  padding: 50px 20px !important;
}
@media screen and (max-width: 1023px) {
  .scholarship-banner h2 {
    font-size: 36px;
  }
  .scholarship-banner h3 {
    font-size: 20px;
  }
  .scholarship-banner-content > div {
    padding: 20px;
  }
  .scholarship-banner-content > div::before {
    transform: rotate(36deg) translateX(-48px);
  }
  .scholarship-banner-content > div::after {
    transform: rotate(36deg) translateX(48px);
  }
  .scholarship-categories-list,
  .scholarship-benefits-list,
  .scholarship-expert-list {
    grid-template-columns: 1fr 1fr;
  }
  .scholarship-brand-item-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .scholarship-intro-main {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .scholarship-intro-video {
    max-width: 50%;
    margin: 0 auto;
  }
  .scholarship-features-list {
    display: flex !important;
    gap: 0px;
  }
}
@media screen and (max-width: 767px) {
  .scholarship-banner h2 {
    font-size: 24px;
  }
  .scholarship-banner h3 {
    font-size: 16px;
    line-height: 1.4;
  }
  .scholarship-banner-content {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .scholarship-banner-content > div:first-child {
    grid-column: span 2;
  }
  .scholarship-banner-content > div {
    max-width: 100%;
  }
  .scholarship-banner-content > div::before,
  .scholarship-banner-content > div::after {
    width: 30px;
    height: 30px;
  }
  .scholarship-banner-content > div::before {
    transform: rotate(38deg) translateX(-31px);
  }
  .scholarship-banner-content > div::after {
    transform: rotate(38deg) translateX(31px);
  }

  .scholarship-banner-sub-title {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .scholarship-banner-logo img {
    max-width: 140px;
  }
  .scholarship-banner-content > div > div strong {
    font-size: 40px;
  }
  .scholarship-banner-content > div {
    padding: 22px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.18) 0%,
      rgba(255, 255, 255, 0.14) 142.14%
    );
    min-height: 140px;
  }
  .scholarship-banner-content p {
    font-size: 12px;
  }
  .scholarship-banner-content > div > div > span {
    font-size: 12px;
  }
  .scholarship-banner-content > div:first-child {
    order: 1;
    clip-path: polygon(
      5% 0,
      100% 0,
      100% 0%,
      100% 85%,
      95% 100%,
      0% 100%,
      0 100%,
      0 15%
    );
  }
  .scholarship-banner-btn a {
    font-size: 12px;
    min-height: 40px;
    gap: 10px;
    padding: 10px 16px;
    font-weight: 700;
    width: 100%;
  }
  .scholarship-banner-btn {
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .scholarship-intro-main {
    grid-template-columns: 1fr;
  }
  .scholarship-intro-content h2 {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .scholarship-intro-content p {
    font-size: 14px;
  }
  .scholarship-banner-btn a img {
    max-width: 16px;
  }
  .scholarship-categories-list {
    grid-template-columns: 1fr;
    margin-top: 16px;
    gap: 16px;
  }
  .scholarship-categories-list > div > div h3 {
    font-size: 14px;
  }
  .scholarship-categories-list > div > div p {
    font-size: 14px;
  }
  .scholarship-categories-list > div img {
    transform: scaleX(1.09) scaleY(1.17) translate(0px, 5px);
  }
  .scholarship-categories-list > div > div {
    bottom: 40px;
    width: 140px;
    gap: 8px;
    text-align: left;
  }
  .scholarship-categories-list > div > div h3 {
    line-height: 1.4;
  }
  .scholarship-benefits-list {
    grid-template-columns: 1fr;
    margin-top: 24px;
  }
  .scholarship-benefits h2 {
    line-height: 1.2;
  }
  .scholarship-benefits .title-common span::before,
  .scholarship-benefits .title-common span::after {
    background: #ccc;
  }
  .scholarship-benefits-item {
    min-height: auto;
    padding: 32px;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 40px;
  }
  .scholarship-benefits-item span {
    margin: 0px;
  }
  .scholarship-benefits-item p {
    font-size: 14px;
    line-height: 1.4;
  }
  .scholarship-expert-list {
    display: flex !important;
    gap: 0px;
    margin-top: 24px;
  }
  .scholarship-expert-item-content h3 {
    font-size: 20px;
  }
  .scholarship-expert-swiper .swiper-pagination {
    bottom: 0px;
  }
  .scholarship-expert-swiper {
    padding-bottom: 40px !important;
  }
  .scholarship-expert-main {
    position: relative;
  }
  .scholarship-brand-list {
    margin-top: 24px;
  }
  .scholarship-brand-item h3 {
    font-size: 14px;
  }
  .scholarship-brand-item-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  .scholarship-brand-item-list span {
    max-height: 50px;
  }
  .scholarship-intro-video {
    padding: 24px 20px 24px 32px;
  }
  .scholarship-news-swiper {
    padding-bottom: 40px !important;
  }
  .scholarship-faq .title-common-decor-right img {
    max-width: 100px;
  }
  .scholarship-faq h3 {
    font-size: 14px;
    border: none;
    padding-left: 0px;
  }
  .scholarship-intro-video{
    max-width: 100%;
  }
  .scholarship-intro-video iframe {
    max-height: 160px;
  }
  .scholarship-intro-video {
    margin: auto;
  }
  .scholarship-detail-banner img {
    max-height: 100px;
  }
  .scholarship-features-desc {
    font-size: 16px;
  }
  .scholarship-features-main {
    position: relative;
    margin-top: 16px;
  }
  .scholarship-features-item p {
    font-size: 14px;
  }
  .scholarship-features-item div {
    padding: 12px;
  }
  .scholarship-features-main .swiper-pagination {
    justify-content: center;
  }
  .scholarship-features-swiper {
    padding-bottom: 40px !important;
  }
  .scholarship-progress .exam-calendar-main {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .scholarship-progress .exam-calendar-item:last-child {
    grid-column: span 2;
  }
  .scholarship-progress .calendar-item-icon img {
    max-width: 35px;
    max-height: 32px;
  }
  .scholarship-progress .exam-calendar-item:after {
    display: none;
  }
  .scholarship-progress .calendar-item-icon:after {
    display: block;
    background: #CCCCCC;
  }
  .scholarship-progress .exam-calendar-item {
    align-items: flex-start;
  }
  .scholarship-progress .exam-calendar-item * {
    font-size: 14px !important;
  }
  .scholarship-form-tab-item h3 {
    font-size: 16px;
  }
  .scholarship-form-tab-item {
    padding: 10px 30px;
  }
  .scholarship-explore-swiper {
    padding: 20px 0px 40px !important;
  }
  .scholarship-form .scholarship-form-item-title {
    grid-column: span 1;
  }
  .scholarship-form .recruitment-form-main.active[data-form="2"] form .scholarship-form-item-field {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .scholarship-form .scholarship-form-item-title h3 {
    font-size: 16px;
    align-items: center;
  }
  .scholarship-form .scholarship-form-item-title h3::after {
    bottom: 0px;
  }
  .scholarship-form-item-icon {
    display: flex;
    transform: rotate(0deg);
    color: #ccc;
  }
  .scholarship-form .recruitment-form-main {
    border: none;
    box-shadow: 0px 0px 0px;
  }
  .scholarship-form  .recruitment-form-main::before, .scholarship-form  .recruitment-form-main::after {
    display: none;
  }
  .scholarship-form .recruitment-form-main.active {
    padding: 20px 0px;
  }
  .recruitment-form-main form input, .recruitment-form-main form select {
    padding: 8px 12px;
  }
  .scholarship-form-tab-item::before {
    width: 12px;
    height: 12px;
    transform: rotate(50deg) translateX(-10px);
  }
  .scholarship-form-item-field {
    display: none !important;
  }
  .scholarship-form-item.active-mobile .scholarship-form-item-field {
    display: grid !important;
  }
  .scholarship-form-item.active-mobile .scholarship-form-item-icon {
    transform: rotate(180deg);
  }
}
